body {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}
h1 {
  color: #680747;
}
p {
  display: block;
  margin: 10px;
}

a {
  margin: 10px;
  color: #680747;
}
a:hover {
  color: #c3195d;
}
img {
  width: 500px;
}
